{% extends "base.html" %}
{% block title %}
  Посты избранных авторов
{% endblock title %}
{% block content %}
  {% include 'includes/switcher.html' %}
  <h1>Посты избранных авторов</h1>
  {% for post in page_obj %}
    {% include 'includes/post.html' %}
    {% if post.group %}
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
{% endblock content %}
