{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
  Пост {{ post.text|slice:":30" }}
{% endblock title %}
{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ post.created|date:"M d, Y H:i" }}
        </li>
        {% if post.group %}
          <li class="list-group-item">
            Группа:
            <a title="все записи группы"
               class="text-decoration-none"
               href="{% url 'posts:group_list' post.group.slug %}"> {{ post.group }}</a>
          </li>
        {% endif %}
        <li class="list-group-item">
          Автор:
          {% if post.author.get_full_name %}
            <a class="text-decoration-none"
               href="{% url 'posts:profile' post.author.username %}">{{ post.author.get_full_name }}</a>
          {% else %}
            <a class="text-decoration-none"
               href="{% url 'posts:profile' post.author.username %}">{{ post.author.get_username }}</a>
          {% endif %}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора:  <span>{{ post.author.posts.count }}</span>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      {% thumbnail post.image "960x339" as im %}
      <img src="{{ im.url }}" alt=""/>
    {% endthumbnail %}
    <p>{{ post.text }}</p>
    {% if post.author == user %}
      <a class="btn btn-outline-dark"
         href="{% url 'posts:post_edit' post.id %}">Редактировать</a>
    {% endif %}
    {% if request.user.is_authenticated %}
      {% include 'includes/comment_form.html' %}
    {% endif %}
    {% if comments %}
      {% for comment in comments %}
        {% include 'includes/comment.html' %}
      {% endfor %}
    {% else %}
      Нет комментариев.
    {% endif %}
  </article>
</div>
{% endblock content %}
